body {
    margin: 0;
    height: 100vh;
    background-size: cover;
    animation: backgroundChange 15s infinite;
    background-color: black;
    
}


@keyframes backgroundChange {
    0% {
        background-image: url('image1.jpg');
        opacity: 1;
    }
    33% {
        background-image: url('image2.jpg');
        opacity: 1; 
    }
    66% {
        background-image: url('image3.jpg');
        opacity: 1;
    }
    100% {
        background-image: url('image1.jpg');
        opacity: 1;
    }
}

h1 {
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-70%);
    margin: 0;
    text-shadow: black;
    font-size: 300%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: -4px -1px 0 black;
}

form {
    border: 3mm ridge rgba(3, 3, 3, 0.6);
    padding: 20px;
    width: 300px;
    margin: 100px auto;
    background-color: #f9f9f9;
    border-radius: 5px;
    position: absolute;
    right: 30px;
    top: -70px;
}

